:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width-wide: 1920px;
    --main-width-wide: 1920px;
    --main-width-semi-wide: 1324px;
    --nav-width: 1324px;
    --main-width: 1024px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #fff;
    --entry-featured: #fff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.dark {
    --theme: #1d1e20;
    --entry: rgba(46, 46, 51, .6);
    --entry-featured: rgb(46, 50, 51);
    --primary: rgba(245, 245, 220, 0.84);
    --secondary: rgba(245, 245, 220, 0.56);
    --tertiary: rgba(245, 245, 220, 0.16);
    --content: rgba(245, 245, 220, 0.74);
    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #333;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
